{% extends "layout2.html" %}
{% block content %}
<div class="container">
    <h2>Buscar Ventas</h2>
    <form method="post" action="/buscar_pedidos">
        <label for="busqueda_dia">Buscar por día:</label>
        <input type="text" id="busqueda_dia" name="busqueda_dia">
        <button type="submit">Buscar</button>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    </form>
    <!--ESTE COMIT LO HAGO POR QUE PUSE MAL LA DESCRIPCION DEL ANTERIOR COMIT PERO YA ESTA COMPLETO LA PRACTICA DE LA PIZZERIA -->

    <form method="post" action="/buscar_pedidos">
        <label for="busqueda_mes">Buscar por mes:</label>
        <input type="text" id="busqueda_mes" name="busqueda_mes">
        <button type="submit">Buscar</button>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    </form>
    <hr>
    <h3>Ventas Encontradas</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Subtotal</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.nombre }}</td>
                <td>{{ pedido.subtotal }}</td>
                <td>{{ pedido.fecha }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>{{ total_subtotal }}</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}