{%extends "layout2.html"%}
{%block content %}
{% import "_macros.html" as macros %}
<div style="display: flex; justify-content: space-between;">
    <div style="width: 48%;">
        <h1>Nuevo Pedido</h1>
        <form action="/addp" method="post">
            {{macros.input_Form(form.nombre, class="form-control")}}
            {{macros.input_Form(form.direccion, class="form-control")}}
            {{macros.input_Form(form.telefono, class="form-control")}}
            {{macros.input_Form(form.num, class="form-control")}}
            <div class="control-group">
                <label for="tamanio">Elige el tamaño</label>
                <input type="radio" id="opcion1" name="tamanio" value="chica" checked>Chica $40
                <input type="radio" id="opcion2" name="tamanio" value="mediana">Mediana $80
                <input type="radio" id="opcion3" name="tamanio" value="mediana">Grande $120
            </div>
            <div class="control-group">
                <label for="ingredientes">Elige los ingredientes</label>
                <input type="checkbox" id="op1" name="ingredientes" value="jamon" checked>Jamón $10 
                <input type="checkbox" id="op2" name="ingredientes" value="pina">Piña $10
                <input type="checkbox" id="op3" name="ingredientes" value="champiniones">Champiñones $10
            </div>
            <input type="hidden", name ="csrf_token" value="{{csrf_token()}}"/>
            <button type="submit" class="btn btn-primary">GUARDAR</button>
        </form>
    </div>
    <div style="width: 48%;">
        <h1>Pedidos de Pizza</h1>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Número de Pizzas</th>
                <th>Tamaño</th>
                <th>Ingredientes</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
            {% for index, dato in datos %}
            <tr>
                <td>{{ dato[0] }}</td>
                <td>{{ dato[1] }}</td>
                <td>{{ dato[2] }}</td>
                <td>{{ dato[3] }}</td>
                <td>{{ dato[4] }}</td>
                <td>{{ dato[5] }}</td>
                <td>{{ dato[6] }}</td>
                <td>
                    <form action="/addp" method="post">
                        <input type="hidden" name="delete" value="{{ index }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<button type="button" id="btn-terminar" class="btn btn-primary">Terminar</button>
                <input type="hidden" name="confirmar" id="confirmar" value="false">
                 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </form>
        </div>
        <div style="width: 48%;">
        </div>
    </div>

    <script>
        document.getElementById("btn-terminar").addEventListener("click", function() {
            if (confirm("¿Desea confirmar el pedido?")) {
                document.forms[0].action = "/confirmar_pedido";
                document.forms[0].submit();
            }
        });
    </script>
   {%endblock%}